

body, html {
    height: 100%;
}

body{
    background: url(/src/assets/imgs/photo2.jpg) no-repeat center center fixed;
    background-size: 1300px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-box {
    width: 500px;
    padding: 20px;
    background: rgba(116, 90, 124, 0.73);
    text-align: center;
    border-radius: 50px;
    align-items: center;
}

.form-check{
    padding: 20px;
}

.form-check-label {
    color: #0011ff;
    font-size: 20px;
}

.from-select {
    padding: 20px
}

.mb-3{
    padding: 20px
}


.navbar {
    width: 100%;
    overflow:visible;
}
.navbar button {
    float: left;
    text-align: center;
    padding: 1px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border-radius: 20px;
    border: 0px;
    background-color:rgba(255, 255, 255, 0);
}

.navbar button:hover {
    background-color: #0011ff;
    border-radius: 20px;
}